*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30px;
    margin: 0;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
}
h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
}
body{
   background-color: #ffe1b7;
}
.header-index{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}
.fondo-nad{
    background-color: #fcb900;
}
.card{
    width: 40rem;
    margin: 120px;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
}
.modal{
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    transition: all 500ms ease;
    opacity: 0; 
    visibility: hidden;
}
.modal-active{
    visibility: visible;
    opacity: 1;
}
.contenedor{
    width: 700px;
    height: 600px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
}
.contenedor header{
    padding: 10px;
    background-color: #fcb900;
    border-radius: 5px;
    color: #fff;

}
.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
#btn-modal{
    background: rgba(0, 0, 0, 0);
    padding: 5px 5px;
    border: none;
}
.articuloCarrito{
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-flow: row;
    margin-top: 10px;
}
.t-carrito{
    margin-right: 40px;
    margin-top: 20px;
}
.img-carrito{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.btn-eliminar{
    border-radius: 5px;
    background: #fcb900;
    border-style: none;
    padding: 3px;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
    margin-left: 150px;
}

.cuadro {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "puesto nombre gastos"
      "numero name precios";
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Cinzel', serif;
    font-family: 'Fraunces', serif;
    font-family: 'Source Serif Pro', serif;
    background-color: white;
  }
  
  .puesto { grid-area: puesto;
            border-bottom: 2px solid black;
            border-right: 1px solid black;
            text-align: center; }
  
  .nombre { grid-area: nombre;
            border-bottom: 2px solid black;
            border-right: 1px solid black;
            text-align: center; }
  
  .gastos { grid-area: gastos;
            border-bottom: 2px solid black;
            text-align: center; }
  
  .numero { grid-area: numero;
            border-right: 1px solid black;
            text-align: center; }
  
  .name { grid-area: name;
            border-right: 1px solid black; }
  
  .precios { grid-area: precios;
        text-align: center; };
